* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #40415c;
}

header {
    text-align: center;
    color: gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding: 15px;
}

article {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    grid-gap: 50px;
}
pre {
    background: linear-gradient(#239daa, #7f3da3);
    }

p {
    color: white;
}

.text-title {
    margin:auto;
    color: white;
    border-radius: 5px;
    width: 25%;
    border: 1px white solid;
    width: 50%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.line-position{
    line-height: 1;
    padding: 10px

}

.text-description {
    color: white
}

pre {
    line-height: 1.5;
    border-radius: 20px;
    padding: 24px;
    margin: 24px;
    background: linear-
    gradient(
        rgba(81, 206, 166, 0.3) 0%,
        rgba(81, 206, 166, 0.3) 100%
        );
    user-select: text;
    align-items: center;
    }

section {
    width: 100%;
    border: 1px white solid;
    background-color: transparent;
    border-style: dotted;
    object-fit: contain;
}

footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    section {flex-direction: column}
}   
