* {
    box-sizing: border-box;
}


body {
    background-color: #40415c;
}

header {
    text-align: center;
    color: gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding: 15px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    color: hotpink
}

article {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    max-width: 100%
}

section {
    border-radius: 5px;
    border: 5px white dotted;
}

.box {
  flex: 0 0 0;
  padding: 10px;
  margin: 20px;
  width: 100%;
  min-width: 400px;
  max-width: 400px
}

.box h2 { 
    margin: 5px
}

h2 {
    color: orange;
    border: solid;
    border-width: 2px;
    text-align:center
}

.target {
    font-size: 12px;
    transition: font-size 1s;
}

.target:hover {
    font-size: 24px;
    color: white;
    background-color: blueviolet;
}

p {
    color: white;
}

pre {
    margin:10px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(#45bdad, #6a3680);
    }

.all {
    user-select: all;
}

footer {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }